/*================Navbar==========================*/
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);

    .nav-menu,
    .nav-menu-mobile {
        gap: 1.6em;

        @media screen and (max-width: 790px) {
            display: none;
        }

        .nav-link {
            padding: .6rem 0;
            position: relative;

            a {
                text-transform: uppercase;
                font-weight: 500;
                color: #ffffff98;
                transition: all .3s ease-in-out;
            }

            &::after {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #cdffd8;
                transition: all .3s ease-in-out;
            }

            &:hover {
                a {
                    color: #fff;
                }

                &::after {
                    width: 100%;
                }
            }

            &.active {
                &::after {
                    opacity: 0;
                }

                a {
                    color: #94b9ff;
                }
            }
        }
    }

    .mobile-menu-btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        display: none;
        transition: all .3s ease-in-out;

        span {
            width: 100%;
            height: 2px;
            background: #fff;
            border-radius: 15px;
            transition: all .3s ease-in-out;
        }

        &.active {
            gap: 0;

            span:nth-child(2) {
                display: none;
            }


        }

        @media screen and (max-width: 790px) {
            display: flex;
        }

    }

    .nav-menu-mobile {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -1;
        transition: all .3s ease-in-out;

        li {
            a {
                font-size: 1.2rem;
            }
        }

        &.active {
            top: 0;
        }

        @media screen and (max-width: 790px) {
            display: flex;
        }
    }

}