/*================Navbar==========================*/
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    .nav-menu {
        gap: 1.6em;

        .nav-link {
            padding: .6rem 0;


            a {
                text-transform: uppercase;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}