/*==================Home=================*/
.home {
    width: 100vw;
    height: 100vh;
    background: url('/assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg');
    background-position: center;
    position: relative;

    .home-bg-blur {
        position: absolute;
        right: 0;
        width: 60%;
        height: 100%;
        background: linear-gradient(-90deg, rgb(0, 0, 0) 25%, rgba(9, 88, 121, 0) 85%);
        z-index: 0;

        @media screen and (max-width: 700px) {
            display: none;
        }
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 3;

        @media screen and (max-width: 700px) {
            align-items: center;
            justify-content: center;
        }

        .home-heading {

            padding: 0 .6rem;

            h1 {
                text-align: right;
                font-size: 4.6rem;
                color: #fff;
                line-height: 7rem;
                text-transform: uppercase;
                font-family: var(--Russo);

                @media screen and (max-width: 1100px) {
                    font-size: 3.6rem;
                }

                @media screen and (max-width: 700px) {
                    font-size: 3rem;
                    text-align: center;
                    line-height: 4rem;
                }

                @media screen and (max-width: 600px) {
                    font-size: 2rem;
                    line-height: normal;
                }
            }

            span {
                display: block;
                color: #ffffff8f;
                text-align: right;
                font-size: 1.6rem;
                margin-top: 1em;
                font-weight: 500;

                @media screen and (max-width: 700px) {
                    text-align: center;
                }

                @media screen and (max-width: 600px) {
                    font-size: 1rem;
                }
            }
        }

        .btn-home {
            margin-top: 2em;
            margin-right: .6rem;

            @media screen and (max-width: 600px) {
                font-size: 1rem;
                padding: 1rem 2rem;
            }
        }


    }
}