/*============Contact=========*/
#contact {
    padding: 10rem 0rem;

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .title {
                margin-bottom: 6rem;
            }
        }

        .title {
            font-size: 1.6rem;
            font-family: var(--Russo);

        }

        ul {
            width: 60%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            grid-gap: 20px;
            gap: 6rem;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                gap: 16px;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                }

                p {
                    color: rgb(150, 150, 150);
                }

                a {
                    width: 100%;
                    padding: .6rem 1.4rem;
                    background: black;
                    color: #fff;

                }

                &.whatsapp-link {
                    a {
                        background: #25D366;
                    }
                }
            }
        }
    }
}