* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Roboto);
    overflow-x: hidden;
}

body {
    position: relative;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1.3rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {


    position: relative;
    padding: 1.6rem 3.2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    transition: all .2s ease-in;

    span {
        transition: all .2s ease-in;
    }

    span:nth-child(1) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, rgba(205, 255, 216, 1) 28%, rgba(148, 185, 255, 1)81%);
        animation: animate1 2s linear infinite;
    }

    @keyframes animate1 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    span:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 3px;
        background: linear-gradient(to bottom, rgba(205, 255, 216, 1) 28%, rgba(148, 185, 255, 1)81%);
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate2 {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(100%);
        }
    }

    span:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left, rgba(205, 255, 216, 1) 28%, rgba(148, 185, 255, 1)81%);
        animation: animate3 2s linear infinite;
    }

    @keyframes animate3 {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    span:nth-child(4) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: linear-gradient(to top, rgba(205, 255, 216, 1) 28%, rgba(148, 185, 255, 1)81%);
        animation: animate4 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes animate4 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    &:hover {
        background: linear-gradient(-90deg, rgba(148, 185, 255, 1) 28%, rgba(205, 255, 216, 1) 81%);
        color: #000;

        span {
            opacity: 0;

        }
    }

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: red;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}