/*================About===============*/
#about {
    margin-top: 5rem;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3em;

        .wrapper {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 2.2em;

            @media screen and (max-width: 860px) {
                width: 90%;
            }



            span {
                font-size: 1.1rem;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.541);
            }

            h2 {
                font-size: 3rem;
                font-family: var(--Russo);
                text-align: center;

                @media screen and (max-width: 600px) {
                    font-size: 2rem;
                }
            }

            p {
                text-align: center;

                text-align: justify;
                line-height: 1.6em;
                color: gray;
            }
        }

      


    }
}