/*==================Packages=================*/
#packages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6rem;


    .package {
        padding: 5rem 0rem;

        &.online-coatching {
            background: rgb(8, 17, 34);
            color: #fff;

            .container {
                .package-container {
                    .package-card {
                        a {
                            color: #fff;
                        }
                    }
                }

            }


        }

        .title {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: .6rem;
            font-size: 1.2rem;

            h2 {
                font-size: 2.6rem;
                text-transform: uppercase;
                font-family: var(--Russo);
                margin-bottom: 1rem;

                @media screen and (max-width: 1100px) {
                    font-size: 2.4rem;
                }

                @media screen and (max-width: 700px) {
                    font-size: 2.2rem;
                    text-align: center;
                    line-height: 4rem;
                }

                @media screen and (max-width: 600px) {
                    font-size: 2rem;
                    line-height: normal;
                }
            }

            .important {
                font-size: 1.2em;
                color: rgb(0, 225, 255);

                @media screen and (max-width: 700px) {
                    font-size: 1.1rem;
                }


            }

            p {
                color: gray;

                span {
                    font-size: 1.1em;
                    font-weight: 500;
                    color: #fff;

                    &.first {
                        color: black;
                    }


                }

                @media screen and (max-width: 700px) {
                    font-size: .875rem;
                    line-height: 1.4rem;
                }
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            overflow: visible;


            @media screen and (max-width: 1200px) {
                padding: 0;
            }

            .package-container {
                width: 80%;
                display: grid;
                grid-template-columns: repeat(3, auto);
                justify-content: space-between;
                gap: 2rem;
                overflow: hidden;
                padding: 3em 2.6em;

                @media screen and (max-width: 1600px) {
                    width: 90%;
                }

                @media screen and (max-width: 1400px) {
                    width: 100%;
                }

                @media screen and (max-width: 1200px) {
                    overflow-x: scroll;
                    scroll-snap-align: center;

                }

                &::-webkit-scrollbar {
                    background: transparent;
                    height: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(127, 255, 212, 0.658);
                    border-radius: 25px;
                }

                @media screen and (max-width: 400px) {
                    padding: 2rem 1rem;
                }

                .package-card {
                    width: 360px;
                    text-align: center;
                    padding: 3.2rem 1.6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;
                    border-radius: 25px;
                    cursor: default;
                    scroll-snap-type: none center;
                    box-shadow: 1px 0px 50px -11px rgba(0, 0, 0, 0.75);

                    @media screen and (max-width: 1200px) {
                        width: 340px;
                    }

                    @media screen and (max-width: 700px) {
                        width: 320px;
                    }

                    @media screen and (max-width: 400px) {
                        width: 300px;
                        padding: 1.6rem 1rem;
                    }

                    .package-title {
                        font-size: 1.2rem;
                        display: flex;
                        flex-direction: column;
                        gap: .6rem;

                        @media screen and (max-width: 700px) {
                            font-size: 1.1rem;

                        }

                        h3 {
                            font-size: 2em;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-family: var(--Russo);

                        }

                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: .7rem;

                        @media screen and (max-width: 700px) {
                            font-size: .875rem;
                            line-height: 1rem;
                        }

                        span {
                            font-weight: 500;
                        }

                        li {
                            opacity: 0.7;
                            text-align: justify;


                        }
                    }

                    .price {
                        font-size: 2rem;
                        font-family: var(--Russo);

                        @media screen and (max-width: 700px) {
                            font-size: 1.8rem;

                        }
                    }

                    a {
                        font-size: 1.2rem;
                        color: black;
                        text-transform: uppercase;

                        @media screen and (max-width: 700px) {
                            font-size: 1.1rem;

                        }
                    }

                    &.package-third {
                        background: rgb(0, 203, 156);
                        color: #fff;

                        a {
                            color: #fff;
                        }

                    }

                    &.package-second {
                        background: rgb(0, 171, 162);
                        color: #ffffff;

                        a {
                            color: #fff;
                        }
                    }

                    &.package-first {
                        background: rgb(8, 17, 34);
                        color: #fff;

                        a {
                            color: #fff;
                        }
                    }

                    &.package-first-online {
                        background: #CBD6DC;
                        color: rgb(0, 0, 0);

                        a {
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }




    }
}