@import './variables/variables';
@import './base/base';
@import '../components/Navbar/navbar';
@import './home/home';
@import '../components/Quote/quote';
@import '../components/Info/info';
@import '../components/About/about';
@import '../components/Contact/contact';
@import '../components/Clients/clients';
@import '../components/Footer/footer';
@import '../components/Calcolator/calcolator';
@import '../components/Packages/packages';