@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap");
:root {
  --Roboto: "Roboto", sans-serif;
  --Russo: "Russo One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Roboto);
  overflow-x: hidden;
}

body {
  position: relative;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  position: relative;
  padding: 1.6rem 3.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.btn-primary span {
  transition: all 0.2s ease-in;
}
.btn-primary span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, rgb(205, 255, 216) 28%, rgb(148, 185, 255) 81%);
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.btn-primary span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, rgb(205, 255, 216) 28%, rgb(148, 185, 255) 81%);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.btn-primary span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, rgb(205, 255, 216) 28%, rgb(148, 185, 255) 81%);
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.btn-primary span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, rgb(205, 255, 216) 28%, rgb(148, 185, 255) 81%);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.btn-primary:hover {
  background: linear-gradient(-90deg, rgb(148, 185, 255) 28%, rgb(205, 255, 216) 81%);
  color: #000;
}
.btn-primary:hover span {
  opacity: 0;
}

/*================Navbar==========================*/
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}
.nav .nav-menu,
.nav .nav-menu-mobile {
  gap: 1.6em;
}
@media screen and (max-width: 790px) {
  .nav .nav-menu,
  .nav .nav-menu-mobile {
    display: none;
  }
}
.nav .nav-menu .nav-link,
.nav .nav-menu-mobile .nav-link {
  padding: 0.6rem 0;
  position: relative;
}
.nav .nav-menu .nav-link a,
.nav .nav-menu-mobile .nav-link a {
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5960784314);
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu .nav-link::after,
.nav .nav-menu-mobile .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #cdffd8;
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu .nav-link:hover a,
.nav .nav-menu-mobile .nav-link:hover a {
  color: #fff;
}
.nav .nav-menu .nav-link:hover::after,
.nav .nav-menu-mobile .nav-link:hover::after {
  width: 100%;
}
.nav .nav-menu .nav-link.active::after,
.nav .nav-menu-mobile .nav-link.active::after {
  opacity: 0;
}
.nav .nav-menu .nav-link.active a,
.nav .nav-menu-mobile .nav-link.active a {
  color: #94b9ff;
}
.nav .mobile-menu-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  display: none;
  transition: all 0.3s ease-in-out;
}
.nav .mobile-menu-btn span {
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.nav .mobile-menu-btn.active {
  gap: 0;
}
.nav .mobile-menu-btn.active span:nth-child(2) {
  display: none;
}
@media screen and (max-width: 790px) {
  .nav .mobile-menu-btn {
    display: flex;
  }
}
.nav .nav-menu-mobile {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu-mobile li a {
  font-size: 1.2rem;
}
.nav .nav-menu-mobile.active {
  top: 0;
}
@media screen and (max-width: 790px) {
  .nav .nav-menu-mobile {
    display: flex;
  }
}

/*==================Home=================*/
.home {
  width: 100vw;
  height: 100vh;
  background: url("/assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg");
  background-position: center;
  position: relative;
}
.home .home-bg-blur {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(-90deg, rgb(0, 0, 0) 25%, rgba(9, 88, 121, 0) 85%);
  z-index: 0;
}
@media screen and (max-width: 700px) {
  .home .home-bg-blur {
    display: none;
  }
}
.home .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 3;
}
@media screen and (max-width: 700px) {
  .home .container {
    align-items: center;
    justify-content: center;
  }
}
.home .container .home-heading {
  padding: 0 0.6rem;
}
.home .container .home-heading h1 {
  text-align: right;
  font-size: 4.6rem;
  color: #fff;
  line-height: 7rem;
  text-transform: uppercase;
  font-family: var(--Russo);
}
@media screen and (max-width: 1100px) {
  .home .container .home-heading h1 {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 700px) {
  .home .container .home-heading h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .home .container .home-heading h1 {
    font-size: 2rem;
    line-height: normal;
  }
}
.home .container .home-heading span {
  display: block;
  color: rgba(255, 255, 255, 0.5607843137);
  text-align: right;
  font-size: 1.6rem;
  margin-top: 1em;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .home .container .home-heading span {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .home .container .home-heading span {
    font-size: 1rem;
  }
}
.home .container .btn-home {
  margin-top: 2em;
  margin-right: 0.6rem;
}
@media screen and (max-width: 600px) {
  .home .container .btn-home {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

/*================Quote================*/
.quote {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 6rem 0;
  border-top: 1rem solid #fff;
  border-bottom: 1rem solid #fff;
}
.quote .title-quote {
  width: 60%;
  font-size: 3rem;
  font-family: var(--Russo);
}
@media screen and (max-width: 800px) {
  .quote .title-quote {
    width: 80%;
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 600px) {
  .quote .title-quote {
    width: 80%;
    font-size: 2rem;
  }
}

/*==============Info================*/
.info .info-first {
  flex-direction: row-reverse;
}
.info .info-btn-second {
  background: rgb(148, 185, 255);
}
.info .title {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 856px) {
  .info .title {
    width: 100%;
  }
}
.info .title .wrapper {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.info .title .wrapper h2 {
  font-family: var(--Russo);
  font-size: 3rem;
}
@media screen and (max-width: 1111px) {
  .info .title .wrapper h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .info .title .wrapper h2 {
    margin-top: 3em;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .info .title .wrapper h2 {
    font-size: 1.6rem;
  }
}
.info .title .wrapper span {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7411764706);
}
@media screen and (max-width: 1111px) {
  .info .title .wrapper span {
    font-size: 1rem;
  }
}
.info .title .wrapper .info-btn {
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .info .title .wrapper .info-btn {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 3em;
  }
}
.info .title .wrapper .info-btn-first {
  background: rgb(205, 255, 216);
}
.info .image {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .info .image {
    width: 100%;
  }
}
.info .image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 856px) {
  .info .info-first,
  .info .info-second {
    flex-direction: column;
  }
}

/*================About===============*/
#about {
  margin-top: 5rem;
}
#about .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3em;
}
#about .title .wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2.2em;
}
@media screen and (max-width: 860px) {
  #about .title .wrapper {
    width: 90%;
  }
}
#about .title .wrapper span {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.541);
}
#about .title .wrapper h2 {
  font-size: 3rem;
  font-family: var(--Russo);
  text-align: center;
}
@media screen and (max-width: 600px) {
  #about .title .wrapper h2 {
    font-size: 2rem;
  }
}
#about .title .wrapper p {
  text-align: center;
  text-align: justify;
  line-height: 1.6em;
  color: gray;
}

/*============Contact=========*/
#contact {
  margin: 5rem 0rem;
}
#contact .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 800px) {
  #contact .container {
    flex-direction: column;
  }
  #contact .container .title {
    margin-bottom: 6rem;
  }
}
#contact .container .title {
  font-size: 1.6rem;
  font-family: var(--Russo);
}
#contact .container ul {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px;
  gap: 6rem;
}
#contact .container ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}
#contact .container ul li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#contact .container ul li p {
  color: rgb(150, 150, 150);
}
#contact .container ul li a {
  width: 100%;
  padding: 0.6rem 1.4rem;
  background: black;
  color: #fff;
}
#contact .container ul li.whatsapp-link a {
  background: #25D366;
}

/*==========Footer===========*/
#footer {
  padding: 6rem 0rem;
}
#footer .container .title {
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */