/*=======================clients========================*/
#clients {
    margin: 10rem 0rem;
    padding: 3rem 0rem;
    background: #F7F8F7;

    .title {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .clients-items {

        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        justify-content: center;


        .client-item {
            position: relative;
            width: 40%;
            border-radius: 20px;
            height: 100%;
            overflow: visible;

            @media screen and (max-width: 1500px) {
                width: 60%;
            }

            @media screen and (max-width: 1000px) {
                width: 80%;
            }

            @media screen and (max-width: 790px) {
                width: 96%;
            }

            img {
                width: 100%;
                border-radius: 18px;
            }

            &:hover {
                .info {
                    opacity: 0;
                }
            }

            .info {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
           
                backdrop-filter: blur(13px);
                width: 100%;
                padding: 1.3rem 0rem;
                display: flex;
                flex-direction: column;
                grid-area: 3px;
                transition: all .3s ease-in-out;
                cursor: default;
                gap: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;


                @media screen and (max-width: 600px) {
                    font-size: 1.4rem;
                    padding: .1rem;
                }

                .name {
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #fff;
                    color: aquamarine;

                }

                .tesominal {
                    width: 70%;
                    font-size: .6em;
                    color: #fff;

                }

                .transformation {
                    color: rgba(255, 255, 255, 0.774);
                    font-weight: 300;
                    font-size: .8em;
                }
            }
        }
    }
}